#header-div {
  background-color: #EDE3E4;
  padding-top: 1.5%;
  height: 70px;
}

#title-text {
  font-family: 'Vast Shadow';
  font-size: 55px;
  text-align: center;
  padding-top: 2%;
}

#welcome-text {
  font-family: 'Vast Shadow';
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  border: black;
  border-style: solid;
}
